.boxBody {
  margin-top: 80px;
  position: relative;
  color: black;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.boxImg {
  width: "100%";
  border-radius: 16px;
  height: "100%";
  box-shadow: 8px 8px 0px 0px #000000;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.boxImg:hover {
  transform: scale(1.01);
}

.boxBody p {
  font-family: "ClashGrotesk-Variable", "ClashGrotesk-Extralight",
    "ClashGrotesk-Light", "ClashGrotesk-Regular", "ClashGrotesk-Medium",
    "ClashGrotesk-Semibold", "ClashGrotesk-Bold";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
}
.row {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 10px;
}
