.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* splash */
.intro_logo {
  height: 95vh;
  width: 100%;
  align-self: center;
}
.swoop {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
}

/*  MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .intro_logo {
    height: 100%;
    width: 100%;
  }
  .swoop {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
/*  MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .intro_logo {
    height: 100%;
    width: 100%;
    align-self: center;
  }
  .swoop {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
